.block-results-resources {

	.resourcesRow {
		padding-top:36px;
		& > div:not(:first-child) {
			.resource-block {
				margin-top:20px;
			}
		}
	}

	.resource-block {
		background-color:white;
		box-shadow: 4px 4px 0px $gray-300;
		border: 1px solid $purple;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 4px 4px 0px $gray-300;
		border-radius: 5px;
		position:relative;
		top:0;
		left:0;
		padding:21px 30px 36px 30px;
		&:before {
			content:"";
			display:block;
			width:100%;
			height:7px;
			background-color:$purple;
			position:absolute;
			top:0;
			left:0;
		}

		p {
			margin-bottom:12px;
		}
	}

	@include media-breakpoint-up(sm) {
	    
	}

	@include media-breakpoint-up(md) {
		padding-bottom:0;
		background-color:white;
		position:relative;
		top:0;
		left:0;
		&:before {
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:258px;
			background-color:$off-white;
		}
		h2 {
			text-align:center;
		}
		.resourcesRow {
			padding-top:36px;
			& > div {
				padding-left:10px;
				padding-right:10px;
			}
			
			.resource-block {
				margin-top:0 !important;
			}
		}	
	}

	@include media-breakpoint-up(lg) {
		&:before {
			height:238px;
		}
		.resourcesRow {
			justify-content:space-between;
			& > div {
				max-width:260px;
				padding-left:0;
				padding-right:0;
			}
		}
	}

	@include media-breakpoint-up(xl) {

	}
}