.block-short-content {
	padding-top:160px;
	padding-bottom:50px;

	.pullquotelarge {
		margin-top:280px;
	}

	@media screen and (max-width:1439px)
	{
		
	}

	@media screen and (max-width:1199px)
	{
		
	}

	@media screen and (max-width:719px) {
		
	}
}