.block-after-hero {
	padding:0;
	.space-left {
		max-width:calc(100% - 120px);
		margin-left:120px;
		margin-bottom:81px;
	}
	.fourEightyWidth {
		margin-top:450px;
	}
	.pullquotelarge {
		max-width:500px;
		margin-top:226px;
	}
	.twoFiftyWidth {
		margin-top:188px;
		margin-bottom:160px;
	}
}

.trends + .block-after-hero {
	padding-top:140px;
}

