.block-after-hero {
	.space-left {
		max-width:calc(100% - 120px);
		margin-left:120px;
		margin-bottom:81px;
	}
	.fourEightyWidth {
		margin-top:450px;
	}
	.pullquotelarge {
		max-width:500px;
		margin-top:226px;
	}
	.twoFiftyWidth {
		margin-top:188px;
		margin-bottom:160px;
	}
}

.fourEightyWidth {
	max-width:480px;
}

.twoFiftyWidth {
	max-width:252px;
}

.threeSixtyWidth {
	max-width:360px;
}

.pTopForty {
	padding-top:40px;
}

.moveUp {
	margin-top:-120px;
}

.pLarge + p {
	margin-top:40px;
}
p + p {
	margin-top:30px;
}