.block-results-top {
	padding-top:0;
	overflow:hidden;

	.topSection {
		position:relative;
		top:0;
		left:0;
		
		&:before, &:after {
			content:"";
			display:block;
			position:absolute;
			bottom:0;
			left:-50vw;
			width:200vw;
		}
		&:before {
			height:100%;
			background-color:$off-white-light;
		}
		&:after {
			height:1px;
			background-color:$gray-300;
		}
		margin-bottom:36px;
	}

	.imageContent {
		padding-left:0;
		padding-right:0;
		margin-left:-10px;
	}

	.results-top-images {
		height:100%;
		width:100%;
		.animationContainer {
			height:100%;
			width:100%;
			img {
				object-fit:cover;
				object-position:0 20%;
				height:150px;
				width:100%;
				position:relative;
				top:0;
			}
		}
	}

	.textContent {
		display:flex;
		align-items:center;
	}

	h1 {
		span {
			display:block;
			font-size:1rem;
			line-height:1.25em;
			font-weight:300;
			color:inherit;
			padding-bottom:9px;
		}
	}

	p + h3 {
		color:$body-color;
		margin-top:16px;
	}



	@include media-breakpoint-up(sm) {
		.results-top-images {
			.animationContainer img {
				height:194px;
				width:50vw;
				left:calc(-50vw + 100%);
			}
		}
	}

	@include media-breakpoint-up(md) {
		padding-bottom:0;
		.imageContent {
			background:white;
			margin:0;
		}
		.results-top-images {
			position:relative;
			top:0;
			left:0;

			.animationContainer {
				position:absolute;
				width:50vw;
				left:calc(-50vw + 100%);
				&:before {
					content:"";
					position:absolute;
					top:0;
					left:100%;
					background:url('../images/border.png') repeat-y center top;
					z-index:1;
					width:5px;
					height:100%;
				}
				img {
					visibility:visible !important;
					z-index:3;
					position:absolute;
					left:0;
					top:0;
					height:100%;
					width:100%;
					object-position:30% 20%;
					opacity:1;
					transition:opacity .25s ease-out .2s, transform .5s cubic-bezier(0.61, 1, 0.88, 1) .2s;
					&:not(.aos-animate) {
						opacity:0;
						transform:translate3d(0, 15px, 0);
					}
				}
			}
		}
		.shareBox {
			position:absolute;
			bottom:35px;
			left:10px;
			z-index:3;
		}
		.topSection {
			margin-bottom:0;
			&:before {
				background-color:white;
			}
		}
		.textContent {
			align-items:flex-start;
			flex-flow:column;
			justify-content:center;
			padding:54px 10px 58px 30px;
		}
		h1 {
			margin-bottom:16px;
			br {
				display:none;
			}
			span {
				padding-bottom:12px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.shareBox {
			left:0px;
		}
		.textContent {
			padding-right:0;
			padding-left:10px;
		}
		.results-top-images {
			.animationContainer {
				width:calc(50vw - 20px);
			}
		}
	}

	@include media-breakpoint-up(xl) {
		.textContent {
			padding-left:20px;
			padding-bottom:90px;
		}
	}

	@media screen and (min-width: 1300px) {
		.results-top-images {
			.animationContainer {
				width:150%;
				left:-50%;
				transform:translate(-20px,0);
			}
		}
	}
}

//Disable the border-shadow for the three results at different sizes
@media screen and (min-width: 902px) {
	.page.expressive .block-results-top .results-top-images .animationContainer:before {display:none;}
}
@media screen and (min-width: 850px) {
	.page.introspective .block-results-top .results-top-images .animationContainer:before {display:none;}
}
@media screen and (min-width: 1292px) {
	.page.relational .block-results-top .results-top-images .animationContainer:before {display:none;}
	.page.relational .block-results-top .results-top-images .animationContainer img {object-fit:contain; object-position:100% 100%;}
	.page.relational .block-results-top .results-top-images .shape1 {background-size:contain;}
}
@media screen and (max-width: 1255px) {
	.page.relational .block-results-top .downArrow {display:none !important;}
}
