.block-after-hero {
	padding-top:128px;
	padding-bottom:40px;
	z-index:2;
	.fourEightyWidth {
		margin-top:-248px;
	}
	.pullquotelarge {
		margin-top:226px;
	}
	.threeTwentyWidth {
		margin-top:68px;
		margin-bottom:160px;
	}
	.eyebrow {
		margin-top:117px;
	}
}
.trendsHero + .block-after-hero {
	padding-bottom:100px;
	.pullquotelarge {
		margin-top:560px;
	}
}
@media screen and (max-width:1439px)
{
	
}
@media screen and (max-width:1199px)
{
	.block-after-hero {
		.fourEightyWidth {
			margin-top:81px;
		}
		.pullquotelarge {
			margin-top:54px;
		}
		.space-left {
			margin-left:0;
		}
	}

	.trendsHero + .block-after-hero {
		padding-top:100px;
		padding-bottom:100px;
		.pullquotelarge {
			margin-top:100px;
		}
	}
}
@media screen and (max-width:719px) {
	.block-after-hero {
		padding-bottom:20px;
	}

	.trendsHero + .block-after-hero {
		padding-top:90px;
	}
}

