.block-hero {
	padding-bottom:180px;
	.content {
		
	}
	.leftOfImage {
		z-index:2;
		display:flex;
		flex-flow:column;
		align-items:flex-start;
	}
	.leftImageHero {
		width:calc(50% - 40px);
		height:auto;
		position:absolute;
		top:0;
		right:0;
	}
	h1 {
		margin:27px 0 42px 0;
	}
	.downArrowRed {
		margin:45px 0 0 0;
	}
	&.trends {
		padding-bottom:167px;
		.eyebrow {
			margin-top:18px;
		}
		h1 {
			margin:21px 0 66px 0;
		}
		.subhead {
			max-width:50%;
		}
	}
}