.block-hero {
	padding-bottom:180px;
	.content {
		
	}
	.leftOfImage {
		z-index:2;
		display:flex;
		flex-flow:column;
		align-items:flex-start;
	}
	.leftImageHero {
		width:calc(50% - 40px);
		height:auto;
		position:absolute;
		top:0;
		right:0;
	}
	h1 {
		margin:27px 0 42px 0;
	}
	.downArrowRed {
		margin:45px 0 0 0;
	}
	&.trends {
		padding-bottom:167px;
		padding-top:0;
		.eyebrow {
			margin-top:18px;
		}
		h1 {
			margin:21px 0 66px 0;
		}
		.subhead {
			max-width:50%;
		}
	}
	&:not(.trends) + .block-after-hero {
		padding-top:0;
	}

	@media screen and (max-width:1439px)
	{
		&.trends {
			padding-bottom:94px;
			h1 {
				margin-bottom:23px;
			}
			.subhead {
				max-width:420px;
			}
		}
	}
	@media screen and (max-width:1199px)
	{
		&.trends {
			padding-bottom:45px;
			.leftImageHero {
				right:-40px;
				width:66.666%;
				height:calc(100% + 88px);
				object-fit:cover;
			}
			.subhead {
				max-width:33.333%;
			}
		}
	}
	@media screen and (max-width:719px) {
		&.trends {
			.leftImageHero {
				width:50%;
			}
			.subhead {
				max-width:225px;
			}
		}
	}
}

