.regionaldata {
	padding-top:130px;

	@media screen and (max-width:1439px)
	{
		padding-top:210px;
	}

	@media screen and (max-width:1199px)
	{
		padding-top:190px;
	}

	@media screen and (max-width:719px) {
		padding-top:30px;
	}
}