#cover {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(18, 28, 45, 0);
	backdrop-filter:blur(0px);
	z-index:-1;
	&.show {
		display:block;
		background-color:rgba(18, 28, 45, 0.5);
		z-index:22;
		backdrop-filter:blur(4px);
	}
}

.formPopup {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:calc(100vw - 60px);
	height:calc(100vh - 260px);
	max-width:1000px;
	max-height:calc(100vh - 60px);
	background-color:white;
	min-height:72vh;
	opacity:0;
	z-index:-1;
	&.show {
		display:block;
		opacity:1;
		z-index:23;
	}

	.close {
		position:absolute;
		top:-20px;
		right:0;
		transform:translate(0,-100%);
		color:white;
		cursor:pointer;
	}

	.popupContent {
		max-width:calc(672px + 80px);
		padding:0 40px;
		width:calc(100% - 60px);
		max-height:calc(100% - 200px);
		overflow-y:scroll;
		margin:122px auto 120px auto;
	}

	form.mktoForm  {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		max-width:100% !important;
		margin-top:40px !important;
		background-color:white !important;
		.mktoFormRow {
			width:calc(50% - 11px);
			margin-bottom:11px !important;
			&:nth-of-type(7) {
				width:100%;
				.mktoFieldWrap {
					position:relative;
					top:0;
					left:0;
					&:before, &:after {
						content:"";
						display:block;
						position:absolute;
						background-color:white;
						pointer-events:none;
						z-index:2;
					}
					&:after {
						width:14px;
						height:14px;
						border-bottom:1px solid $gray;
						border-right:1px solid $gray;
						transform:rotate(45deg);
						transform-origin:center;
						bottom:17px;
						right:19px;
						
					}
					&:before {
						bottom:1px;
						right:1px;
						height:42px;
						width:44px;
					}
				}
			}
			&:nth-of-type(8), &:nth-of-type(9), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12), &:nth-of-type(13), &:nth-of-type(14), &:nth-of-type(15), &:nth-of-type(16), &:nth-of-type(17), &:nth-of-type(18), &:nth-of-type(19), &:nth-of-type(20), &:nth-of-type(21) {
				display:none;
			}
		}
		.mktoButtonRow {
			display:none;
		}
		.mktoField.mktoInvalid {
			margin-bottom:0 !important;
		}
		.mktoLabel {
			font-family:$font-mono;
			font-size:14px !important;
			line-height:24.5px;
			font-weight:600 !important;
			padding-bottom:6px !important;
		}
		.mktoAsterix {
			padding-left:0;
			transform:translate(-1px,-5px);
			color:$red;
		}
		input[type=text], input[type=email], textarea, select, select[multiple=multiple], input[type=tel] {
			border:1px solid $gray !important;
			border-radius:0 !important;
			font-size:18px !important;
			color:$dark;
			&:not(select) {
				padding:22px 12px !important;
			}
			&:is(select) {
				padding:2px 8px !important;
				height:44px !important;
			}
			background-color:white !important;
			&:focus {
				border:1px solid $dark !important;
			}
		}
		select {
			&::placeholder {
				color:black;
			}
		}
		.mktoError .mktoErrorMsg {
			transform:translate(0,3px);
		}
	}

	.belowTheForm {
		display:flex;
		align-items:flex-start;
		justify-content:space-between;
		margin-top:54px;
		button, div {
			max-width:calc(50% - 11px);
		}
		button {
			cursor:pointer;
			margin-top:5px;
		}
		div {
			p {
				font-size:.875rem;
				line-height:1.750em;
				a {
					font-weight:bold;
					color:inherit;
				}
			}
		}
	}
}

#cover,.formPopup {
	transition:background-color .5s cubic-bezier(0.22, 1, 0.36, 1) 0s, backdrop-filter .5s cubic-bezier(0.22, 1, 0.36, 1) 0s, opacity .5s cubic-bezier(0.22, 1, 0.36, 1) 0s, z-index 0s linear .5s;
	&.show {
		transition:background-color .5s cubic-bezier(0.22, 1, 0.36, 1) 0s, backdrop-filter .5s cubic-bezier(0.22, 1, 0.36, 1) 0s, opacity .5s cubic-bezier(0.22, 1, 0.36, 1) 0s, z-index 0s linear 0s;
	}
}


@mixin popupMobileA {
	.formPopup {
		height:calc(100vh - 130px);
		.popupContent {
			width:calc(100% - 20px);
			padding:0 20px;
			margin:58px auto 50px auto;
			max-height:calc(100% - 108px);
			.h2 {
				font-size:2.5rem;
			}
		}
	}
}

@mixin popupMobileB {
    .formPopup {
		form.mktoForm  {
			.mktoFormRow {
				width:100%;
			}
		}
	}
}


@media screen and (max-width:930px)
{
	.formPopup {
		.popupContent {
			margin:82px auto 80px auto;
			max-height:calc(100% - 160px);
		}
		.belowTheForm {
			margin-top:24px;
			flex-flow:column;
			button, div {
				max-width:100%;
			}
			div {
				margin-top:20px;
			}
		}
	}
	
}

@media screen and (max-width:1199px)
{
	
}

@media screen and (max-width:719px) {
	@include popupMobileA;
}

@media screen and (max-height:500px) {
	@include popupMobileB;
	@include popupMobileA;
}

@media screen and (max-width:500px) {
	@include popupMobileB;
}