.block-short-content {
	padding-top:160px;
	padding-bottom:150px;

	.pullquotelarge {
		margin-top:280px;
	}

	@media screen and (max-width:1439px)
	{
		.pullquotelarge {
			margin-top:50px;
		}
	}

	@media screen and (max-width:1199px)
	{
		
	}

	@media screen and (max-width:719px) {
		padding-top:90px;
		padding-bottom:100px;
	}
}