.casestudy{
    padding-bottom:0;
    .case{
        background:#FFF;
        border:1px solid $red;
    }

    h2{
        padding:25px 38px;
        border-bottom:1px solid $red;
        margin:0;
        font-weight:400;
    }

    h6{
        font-weight: 700;
        border-bottom:1px solid $red;
        padding:12px 16px;
    }

    .column.quarter{
        border-right:1px solid $red;
        img {
            padding:0 62px;
        }
        & + .column.quarter img {
            padding:0 32px;
        }
    }

    .column.half{
        img {
            padding:0 44px;
        }
    }

    .column{
        display:flex;
        flex-flow:column;
        &.quarter, &.half{
            padding-bottom:72px;
            position:relative;

            h6{
                margin-bottom:72px;
            }

            IMG{
                position: relative;
                display:block;
                margin:auto;
                max-width:100%;
                height:auto;
            }

            &.half {
                IMG{
                    max-width:450px;
                    max-height:80px;
                    width:auto;
                }
            }
        }
    }

    .two-col {
        padding:40px;

        h4{
            margin:6px 0 31px 0;
        }

        .column{
            width:calc(50% - 20px);
        }
    }

    p {
        font-family:$font-mono;
    }

    @media screen and (max-width:1439px)
    {
        .column.quarter {
            width:50%;
            border-bottom:1px solid $red;
            & + .column.quarter {
                border-right:none;
            }
        }
        .column.half {
            width:100%;
            padding-bottom:96px;
            h6 {
                margin-bottom:96px;
            }
        }
        h6 {
            padding:12px 40px;
        }
        .two-col .column:first-child {
            padding-bottom:40px;
        }
        h2 {
            padding:40px 20px;
        }
    }

    @media screen and (max-width:1199px)
    {
        .two-col {
            .content {
                flex-flow:column-reverse;
            }
            h4 {
                margin-top:45px;
            }
        }
    }

    @media screen and (max-width:719px) {
        .column.half {
            padding-bottom:72px;
            h6 {
                margin-bottom:72px;
            }
        }
        .two-col {
            padding:20px;
        }
        h6 {
            padding-left:20px;
            padding-right:20px;
        }
    }

    @media screen and (max-width:600px) {
        .column.quarter {
            width:100%;
            border-right:none;
        }
        .column.quarter.half IMG, .column.half.half IMG {
            max-width:100%;
            padding:0 20px;
        }
    }
}