.largestat{
    margin-bottom:130px;

    .eyebrow{
        display: block;
        font-size:16px;
        line-height: 20px;
        margin-bottom:20px;
    }

    h3{
        position: relative;
        color:#FFF;
        width:136%;
        z-index: 1;
        font-size:80px;
        line-height: 84px;
    }

    .two-column .column:first-child{
        width:47%;
    }
    .two-column .column:last-child{
        width:53%;
    }

    .logo{
        display:block;
        width:90px;
        height: auto;
    }
}

.casestudy{
    position: relative;
    z-index: 1;
    margin-bottom:-871px;

    + .largestat{
        padding-top:910px;
    }
}