.nav {
	background-color:$blue;
	padding:39px 0 41px 0;
	.nav-wrapper__logo {
		display:flex;
		font-family:$font-text;
		font-weight:700;
		line-height:40px;
		letter-spacing:0;
		img {
			margin-right:16px;
		}
	}
	.nav-cta ul {
		display:none;
	}

	.nav-wrapper {
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.nav-ctas {
		display:flex;
	}
	li {
		list-style:none;
	}
	a {
		text-decoration:none;
		display:block;
	}
	.nav-cta {
		& > a {
			line-height:44px;
			font-size:.75rem;
			font-weight:400;
			font-family:$font-mono;
			padding:0 14px;
			img {
				margin-right:8px;
				transform:translate(0,3px);
				width:17px;
				height:16px;
				object-fit:contain;
				filter:brightness(3) grayscale(1);
				@include generalAnimationType;
			}
			svg {
				margin-right:8px;
				transform:translate(0,3px);
				width:17px;
				height:16px;
				* {
					stroke:white;
					@include generalAnimationType;
				}
			}
		}
		&:hover > a svg *, & > a.active svg * {
			stroke:$red;
		}
		ul {
			transform:translate(39px,-5px);
			a {
				font-family:$font-mono;
				font-size:.75rem;
				line-height:20px;
				font-weight:400;
				letter-spacing:.03em;
				span {
					color:$red;
					display:none;
					padding-right:9px;
				}
			}
		}
	}
	.nav-cta__button--hamburger {
		display:flex;
		align-items:center;
		margin-right:-14px;
		span.icon {
			display:block;
			width:12px;
			height:14px;
			margin-right:9px;
			transform:rotate(0deg);
			&, span {
				@include generalAnimationType;
				transform-origin:center;
			}
			span {
				position:absolute;
				left:0;
				width:100%;
				background-color:white;
				height:1px;
				@include generalAnimationType;
				&.line1 {
					top:0;
				}
				&.line3 {
					bottom:0;
				}
				&.line2 {
					top:7px;
					left:50%;
					transform:translate(-50%,0);
				}
			}
		}
		span.text {
			width:28.81px;
		}
		&.active {
			span.icon {
				transform:rotate(-180deg);
				span {
					&.line1 {
						transform:rotate(-45deg);
						top:50%;
						width:18px;
					}
					&.line3 {
						transform:rotate(45deg);
						bottom:calc(50% - 1px);
						width:18px;
					}
					&.line2 {
						width:0;
					}
				}
			}
		}
		&:hover {
			span.icon span {
				background-color:$red;
			}
		}
	}
	.nav-wrapper__logo-container, .nav-ctas {
		position:relative;
		top:0;
		left:0;
		z-index:21;
	}
	.nav-dropDown {
		width:100%;
		position:fixed;
		top:0;
		left:0;
		height:100vh;
		width:100%;
		z-index:-1;
		opacity:0;
		background-color:$blue;
		padding-top:180px;
		&, a {
			@include generalAnimationType;
		}
		
		ul:hover A{
			opacity:.75;
		}
		li {
			margin-top:32px;
			a {
				cursor:pointer;
				&:hover {
					opacity:1;
				}
			}
		}
		.container {
			height:100%;
			overflow:scroll;
		}
		.content {
			padding-bottom:40px;
			display:flex;
		}
		.navDropLeftColumn {
			width:calc(50% - 40px);
		}
		.navDropRightColumn {
			margin:68px auto 0 auto;
			display:flex;
			flex-flow:column;
			align-items:center;
			a {
				display:inline-block;
				margin-top:42px;
			}
			img {
				max-width:100%;
				height:auto;
			}
		}
	}
	.nav-wrapper.active {
		.nav-dropDown {
			opacity:1;
			z-index:20
		}
	}

	@media screen and (max-width:1439px)
	{
		.nav-cta > a {
			padding:0 10px;
		}
		.nav-dropDown {
			.content {
				flex-flow:column;
			}
			.navDropLeftColumn, .navDropRightColumn {
				width:100%;
			}
		}
	}

	@media screen and (max-width:1199px)
	{
		.nav-wrapper__logo {
			font-size:0;
		}
		.nav-cta__button--hamburger {
			margin-right:-10px;
		}
	}
}

.nav-cta ul a {
	&:hover,&.active {
		span {
			display:inline-block;
		}
	}
}