.testimonial {
    padding-bottom:480px;
    .content {
        padding:40px;
    }

    .portrait {
        position:absolute;
        top:40px;
        left:40px;
        width:100%;
        max-width:240px;
        height:auto;
    }

    .testimonial-text {
        margin-left:280px;
    }

    .pLarge {
        font-style:italic;
    }

    .citation {
        margin:16px 0 30px 0;
    }

    @media screen and (max-width:1439px)
    {
        padding-bottom:200px;
    }
    @media screen and (max-width:1199px)
    {
        padding-bottom:50px;
    }
    @media screen and (max-width:719px)
    {
        padding-bottom:0;
        .container {
            margin:0;
        }
        .portrait {
            position:relative;
            top:0;
            left:0;
            max-width:320px;
            margin-bottom:36px;
        }
        .testimonial-text {
            margin-left:0;
        }
        .citation {
            margin-bottom:0;
        }
    }
}