.testimonial {
    padding-bottom:480px;
    .content {
        padding:40px;
    }

    .portrait {
        position:absolute;
        top:40px;
        left:40px;
        width:100%;
        max-width:240px;
        height:auto;
    }

    .testimonial-text {
        margin-left:280px;
    }

    .pLarge {
        font-style:italic;
    }

    .citation {
        margin:16px 0 30px 0;
    }
}