.trends{

    &--list{
        border-top:1px solid $red;
        background:#FFF;
    }

    &--item{
        padding:40px;
        border-bottom:1px solid $red;
        text-decoration: none;
        color:$dark;
        display:block;
    }

    span{
        display:block;
    }

    span.eyebrow{
        margin-bottom: 8px;
    }

    h3{
        font-family: $font-display;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom:30px;
    }

    h5{
        margin-bottom:40px;
    }

    img{
        width:80px;
        height:auto;
    }

    .read-more{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0em;
    }
}