.page.thankyou {

	h1 {
		font-size:2rem;
		line-height:1.188em;
	}

	p {
		margin-bottom:18px;
	}

	img {
		margin-bottom:25px;
	}

	.row {
		flex-flow:column-reverse;
	}

	.buttonArrow {
		display:block;
	}

	@include media-breakpoint-up(sm) {
	    
	}

	@include media-breakpoint-up(md) {
		margin-bottom:0;
		.row {
			flex-flow:row;
		}
	}

	@include media-breakpoint-up(lg) {

	}

	@include media-breakpoint-up(xl) {

	}
}