.dot-chart{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:320px;
	
	> div {
		width:21px;
		height:21px;
		border:1px solid $red;
		border-radius: 50%;
		margin:5px;
	}
	
	.filled{
		background-color:$red;
	}
}
.intro-data-chart, .twilio-data-chart {
	padding-bottom:0;
	& + .chart-caption {
		margin:33px 0;
	}
}
.intro-data-chart {
	.apexcharts-text.apexcharts-xaxis-label {
		padding-top:2px;
	}
}

.apexcharts-legend {
	align-content:baseline;
	&-series {
		margin-top:66px !important;
		margin-right:30px !important;
	}
	&-text {
		transform:translate(0,-5px);
		display:inline-block;
		padding-left:7px;
	}
}


