.dot-chart{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:320px;
	
	> div {
		width:21px;
		height:21px;
		border:1px solid $red;
		border-radius: 50%;
		margin:5px;
		background-color:transparent;
		@include generalAnimationType;
	}
	
	.filled{
		background-color:$red;
	}
}

.chart-grid .chart-text{
	font-family: $font-mono;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 0em;
	text-align: center;
	
	span {
		&:before {
			content:'';
			display:block;
			background:url(../images/right-arrow.svg) no-repeat center;
			background-size: contain;
			width:106px;
			height:32px;
		}
	}
	
}

.intro-data-chart, .twilio-data-chart {
	padding-bottom:0;
	& + .chart-caption {
		margin:33px 0;
	}
}
.intro-data-chart {
	min-height:350px;
	.apexcharts-text.apexcharts-xaxis-label {
		padding-top:2px;
	}
}
.twilio-data-chart {
	min-height:320px;
}
.apexcharts-legend {
	align-content:baseline;
	transform:translate(0,50px) !important;
	&-series {
		margin-right:30px !important;
	}
	&-text {
		transform:translate(0,-5px);
		display:inline-block;
		padding-left:7px;
	}
}

.chart-wrapper {
	border-bottom:1px solid $red;
}

.intro-data-chart, .chart-wrapper, .stackedBarChart {
	.apexcharts-legend {
		padding-left:98px;
		transform:translate(0,20px) !important;
	}
}

.stackedBarChart .apexcharts-legend {
	padding-left:0;
}

.chart-wrapper > div:first-child {
	margin:54px auto 18px;
	min-height:460px;
	.chart-placeholder {
		position:relative;
		top:50%;
		left:0;
		transform:translate(0,-50%);
	}
	.apexcharts-series {
		path.apexcharts-bar-area {
			stroke:$red;
			stroke-width:1px;
		}
	}
}

.chart-placeholder:not(.chart-text) {
	min-height:350px;
}

.chart-placeholder, .apexcharts-canvas {
	max-width:100%;
	overflow:hidden;
	&[data-chart-type="column"] {
		min-width:420px;
		.apexcharts-plot-series {
			g:nth-child(1) path, g:nth-child(3) text {
				transform:translate(-59px,0);
			}
			g:nth-child(2) path, g:nth-child(4) text {
				transform:translate(59px,0);
			}
		}
	}
}

.chart-placeholder[data-chart-type="radial-bar"] {
	.apexcharts-canvas {
		width:100% !important;
	}
	svg {
		width:100% !important;
	}
}

@media screen and (max-width:719px) {
	.chart-placeholder, .apexcharts-canvas {
		&[data-chart-type="column"] {
			min-width:300px;
			max-width:300px;
			.apexcharts-plot-series {
				g:nth-child(1) path, g:nth-child(3) text {
					transform:translate(-40px,0);
				}
				g:nth-child(2) path, g:nth-child(4) text {
					transform:translate(40px,0);
				}
			}
		}
	}
}