.text-white {
	* {
		color:white;
	}
	.btn-outline {
		border:1px solid $gray;
	}
}
.bg-white {
	background-color:white;
}
.bg-blue {
	background-color:$blue;
}
.bg-grid {
	background:#FEECEC url(../images/grid-pattern.svg) repeat center top/cover;
	border-top:1px solid $red;
	border-bottom:1px solid $red;
	&-overlap {
		display:block;
		position:absolute;
		background:$light-red url(../images/grid-pattern-light.svg) repeat center top/cover;
		background-size:1441px auto;
		border-top:1px solid $red;
		border-bottom:1px solid transparent;
		bottom:0;
		left:0;
		width:100%;
	}
	&.block-short-content {
		border-top:none;
	}
}