.text-white {
	* {
		color:white;
	}
	.btn-outline {
		border:1px solid $gray;
	}
}
.bg-blue {
	background-color:$blue;
}
.bg-grid{
	background:#FEECEC url(../images/grid-pattern.svg) repeat center/cover;
	border-top:1px solid $red;
	border-bottom:1px solid $red;
}