@mixin generalAnimationType {
  transition:all .5s cubic-bezier(0.22, 1, 0.36, 1);
}

.hide-apex .apexcharts-canvas{
	display:none;
}

.hide-xl{
    display:none !important;
}

.border-top-red{
    border-top:1px solid $red;
}

.text-center{
    text-align: center;
}

.no-overflow {
	overflow:hidden;
}


.downArrowModule {
	display:flex;
	align-items:flex-start;
	overflow:hidden;
	cursor:pointer;
	border:none;
	background:transparent;
	span {
		color:$red;
		text-transform:initial;
		margin:13px 0 0 12px;
		text-align:left;
		letter-spacing:0;
	}
	img {
		width:16px;
		height:100px;
		transform:translate(0,-13px);
		@include generalAnimationType;
		animation: float 3s ease-in-out infinite;
		animation-direction:reverse;
	}
	&:hover {
		img {
			animation:none;
			transform:translate(0,-4px) !important;
		}
	}
}

#cover {
	transition:all cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes float {
	0% {
	  transform:translate(0,-13px);
	}
	50% {
	  transform:translate(0,-8px);
	}
}

.btn-outline{
	transition: all 0.3s ease-out;
	&:hover{
		border-color:$red !important;
		//background-color:rgba(255,255,255,0.2);
	}	
}

.rotateOnScroll {
	transform-origin:center center;
	//transition:transform .1s linear;
}