.row {
    display:flex;
    flex-wrap:wrap;

    &.three-column .column{
        width:calc(33.3% - 1px);
    }

    > .quarter{
        width:25%;
    }

    > .half{
        width:50%;
    }
}

.flexcol{
    display: flex;
    flex-direction: column;
}

.mt-auto{
    margin-top:auto;
}