.social{
    display:inline-block;
    text-decoration: none;
    text-align: center;
    width:90px;
    height: 90px;
    border:1px solid $dark;
    border-radius: 50%;
    margin:0 18px;
    
    img{
        width:auto;
        height:30px;
        margin:30px 0;
    }
}

.sharing{
    padding-top:113px;
    padding-bottom:157px;
    text-align: center;

    h2{
        margin-top:38px;
    }
    & + .eyebrow {
        margin:0;
        padding-bottom:42px;
    }
}

@media screen and (max-width:1439px)
{
    .sharing {
        padding-top:66px;
        padding-bottom:140px;
    }
}

@media screen and (max-width:1199px)
{
    .sharing {
        padding-top:54px;
        padding-bottom:100px;
    }
}

@media screen and (max-width:719px) 
{
    .sharing {
        padding:81px 40px 100px 40px;
        & + .eyebrow {
            padding-bottom:20px;
        }
    }
}