section{
    padding-top:80px;
    padding-bottom:100px;
}

h3 + p, .h3 + p {
	margin-top:38px;
}

.pLarge + p {
	margin-top:40px;
}

p + p {
	margin-top:30px;
}



.p-40{
    padding:40px;
}

.pt-128{
    padding-top: 128px;
}

.pt-148{
    padding-top: 148px;
}

.pb-172{
    padding-bottom: 172px;
}

.pt-192{
    padding-top: 192px;
}

.pb-192{
    padding-bottom: 192px;
}

.pb-484{
    padding-bottom:484px;
}

.mr-40{
    margin-right:40px;
}

.ml-auto{
	margin-left:auto;
}

.mt-150{
    margin-top:150px;
}

.mb-200{
    margin-bottom:200px;
}
.pb-484{
    padding-bottom:484px;
}

.mr-40{
    margin-right:40px;
}

.mt-75{
    margin-top:75px;
}

.mt-110{
    margin-top:150px;
}

.mt-150{
    margin-top:150px;
}

.mb-200{
    margin-bottom:200px;
}



.fourEightyWidth {
	max-width:480px;
}

.twoFiftyWidth {
	max-width:252px;
}

.threeSixtyWidth {
	max-width:360px;
}

.moveUp {
	margin-top:-120px;
}

.two-col {
	.content {
		display:flex;
		flex-flow:row;
		justify-content:space-between;
		flex-wrap: wrap;
	}
	.column {
		width:calc(50% - 40px);
	}
}

.center {
	display:flex;
	.centerMe {
		margin:0 auto;
	}
}

.unequalTwoColumn {
	.content {
		display:flex;
		flex-flow:row;
		justify-content:flex-start;
	}
	.column {
		max-width:calc(50% - 40px);
		&.smaller {
			padding:0 40px;
			img {
				max-width:280px;
				position:relative;
				top:21%;
				left:0;
			}
		}
	}
}


@media screen and (max-width:1439px)
{
	h3 + p, .h3 + p {
		margin-top:34px;
	}

	.mt-75 {
		margin-top:61px;
	}
}
@media screen and (max-width:1199px)
{
	.pt-128 {
	    padding-top:100px;
	}
	.two-col .column {
		width:100%;
	}
}
@media screen and (max-width:719px) {
	.pt-128 {
	    padding-top:90px;
	}
}