section{
    padding-top:80px;
    padding-bottom:100px;
}

.p-40{
    padding:40px;
}

.pt-128{
    padding-top: 128px;
}

.pt-148{
    padding-top: 148px;
}

.pb-172{
    padding-bottom: 172px;
}

.pt-192{
    padding-top: 192px;
}

.pb-192{
    padding-bottom: 192px;
}

.pb-484{
    padding-bottom:484px;
}

.mr-40{
    margin-right:40px;
}

.mt-150{
    margin-top:150px;
}

.mb-200{
    margin-bottom:200px;
}