section{
    padding-top:80px;
    padding-bottom:100px;
}

h3 + p, .h3 + p {
	margin-top:38px;
}

.pLarge + p {
	margin-top:40px;
}

p + p {
	margin-top:30px;
}


.p-0 {
	padding-top:0;
}

.p-40{
    padding:40px;
}

.pt-160{
	padding-top:160px;
}

.mt-125 {
	margin-top:125px;
}

.mt-140{
    margin-top:140px;
}

.ml-auto{
	margin-left:auto;
}

.fourEightyWidth {
	max-width:480px;
}

.twoFiftyWidth {
	max-width:252px;
}

.threeSixtyWidth {
	max-width:360px;
}

.moveUp {
	margin-top:-120px;
}

.two-col {
	.content {
		display:flex;
		flex-flow:row;
		justify-content:space-between;
		flex-wrap: wrap;
	}
	.column {
		width:calc(50% - 40px);
		&.center {
			width:100%;
			.centerMe {
				width:640px;
				max-width:100%;
			}
		}
	}
}

.center {
	display:flex;
	.centerMe {
		margin:0 auto;
	}
}

.unequalTwoColumn {
	.content {
		display:flex;
		flex-flow:row;
		justify-content:flex-start;
	}
	.column {
		max-width:calc(50% - 40px);
		&.smaller {
			padding:0 40px;
			img {
				max-width:280px;
				position:relative;
				top:21%;
				left:0;
			}
		}
	}
}


@media screen and (max-width:1439px)
{
	h3 + p, .h3 + p {
		margin-top:34px;
	}

	.mt-75 {
		margin-top:61px;
	}
	.pt-160{
		padding-top:130px;
	}
	.mt-125 {
		margin-top:55px;
	}
}
@media screen and (max-width:1199px)
{	
	.two-col .column {
		width:100%;
		&.center {
			.centerMe {
				width:100%;
			}
		}
	}
	.mt-140 {
		margin-top:90px;
	}
	.mt-125 {
		margin-top:120px;
	}
}
@media screen and (max-width:719px) {
	.unequalTwoColumn {
		.content {
			flex-flow:column;
		}
		.column {
			width:100%;
			max-width:100%;
			&.smaller {
				padding:0 0 63px 0;
				img {
					top:0;
					width:100%;
					max-width:320px;
				}
			}
		}
	}
	.mt-140 {
		margin-top:34px;
	}
	.mt-125 {
		margin-top:45px;
	}
	
}