p {
	font-size:1.125rem;
	line-height:1.75em;
	font-weight:400;
	font-family:$font-text;
	& + p {
		//margin-top:14px;
	}
}
.pLarge {
	&, p {
		font-size:1.5rem;
		line-height:1.75em;
		font-weight:400;
		font-family:$font-text;
	}
}
.pSmall {
	&, p {
		font-size:1rem;
		line-height:1.750em;
		font-weight:400;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
	font-size:7.500rem;
	line-height:1.083em;
	font-weight:900;
	font-family:$font-display;
}

h2, .h2 {
	font-size:3.75rem;
	line-height:1.167em;
	font-weight:900;
	font-family:$font-display;
	span:not(.circle) {
		font-weight:normal;
	}
	margin-bottom:24px;
}

h3, .h3 {
	font-size:2.250rem;
	line-height:1.09em;
	font-weight:400;
	font-family:$font-text;
}

h4, .h4 {
	font-size:1.25rem;
	line-height:1.2em;
	letter-spacing:.1em;
	font-family:$font-mono;
}

h5, .h5 {
	font-size:.875rem;
	line-height:1.750em;
	letter-spacing:.15em;
	text-transform:uppercase;
	font-weight:600;
	font-family:$font-mono;
}

h6, .h6 {
	font-size:.75rem;
	line-height:1.217em;
	letter-spacing:.1em;
	text-transform:uppercase;
	font-weight:400;
	font-family:$font-mono;
	&.citation {
		letter-spacing:.15em;
		line-height:1.5em;
	}
}

.fontWeight-normal {
	font-weight:400 !important;
}


.eyebrow{
	font-family: $font-mono;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0.15em;
	text-transform:uppercase;

	&.red{
		color:$red;
	}
}

.pullquotelarge {
	font-size:3.75rem;
	line-height:1.067em;
	font-weight:400;
	font-family:$font-display;
	
}

span.circle, span.underline {
	display:inline-block;
	position:relative;
	top:0;
	left:0;
	&:before {
		content:"";
		position:absolute;
		background-size:contain !important;
		pointer-events:none;
	}
	&.circle:before {
		top:-.4em;
		left:-.36em;
		width:calc(100% + .72em);
		height:calc(100% + .72em);
		background:url(../images/circle-red.svg) no-repeat center center;
	}
	&.underline:before {
		top:.57em;
		left:-.1em;
		width:calc(100% + .2em);
		height:100%;
		background:url(../images/curved-red-underline.svg) no-repeat center center;
	}
}

.largestat h3 {
	font-size:5rem;
	line-height:1.05em;
}

h3 {
	span.circle, span.underline {
		&.circle:before {
			top:-.27em;
			left:-.27em;
			width:calc(100% + .54em);
			height:calc(100% + .5em);
		}
	}
}

.btn {
	text-decoration:none;
}

.btn-outline {
	font-size:1.125rem;
	line-height:1.216em;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-family:$font-mono;
	text-align:center;
	padding:12px 23px;
}

.subhead {
	font-size:1.875rem;
	line-height:1.3em;
	font-weight:400;
	font-family:$font-text;
}

.navDropTitle, .navDropLeftColumn a {
	font-size:1.5rem;
	line-height:1.2em;
	font-weight:600;
	font-family:$font-text;
	span {
		display:block;
		color:$red;
	}
}

@media screen and (max-width:1439px)
{
	h1, .h1 {
		font-size:6.250rem;
		line-height:1.1em;
	}

	h2, .h2 {
		margin-bottom:20px;
	}

	.subhead {
		font-size:1.125rem;
		line-height:1.322em;
	}

	.largestat h3 {
		font-size:4.063rem;
		line-height:1.1em;
	}
}

@media screen and (max-width:1199px)
{
	.pLarge {
		&, p {
			font-size:1.313rem;
			line-height:1.6em;
		}
	}

	h1, .h1 {
		font-size:2.5rem;
		line-height:1.2em;
	}


	.pullquotelarge {
		font-size:2.5rem;
		line-height:1.1em;
	}
	
	span.circle, span.underline {
		&.underline:before {
			top:.42em;
			left:0;
			width:calc(100% + .1em);
		}
	}

	.largestat h3 {
		font-size:3.125rem;
		line-height:1.1em;
	}
	
}

@media screen and (max-width:719px) 
{
	
}