p {
	font-size:1.125rem;
	line-height:1.75em;
	font-weight:400;
	font-family:$font-text;
	& + p {
		//margin-top:14px;
	}
}
.pLarge, .chart-caption {
	&, p {
		font-size:1.5rem;
		line-height:1.75em;
		font-weight:400;
		font-family:$font-text;
	}
}
.pSmall {
	&, p {
		font-size:1rem;
		line-height:1.750em;
		font-weight:400;
	}
}
.orderedList {
	padding-left:34px;
	margin-top:54px;
	li + li {
		padding-top:28px;
	}
	li::marker, .oLHeader {
		font-family:$font-text;
		font-size:1.5rem;
		line-height:1.1em;
	}
	p {
		padding-left:21px;
	}
	.oLHeader {
		span {
			border-bottom:2px solid red;
			display:inline-block;
		}
		& + p {
			margin-top:4px;
		}
	}
}
.chart-caption {
	line-height:1.5em;
}

.close {
	font-size:.75rem;
	line-height:1.1em;
	font-family:$font-mono;
	background:transparent;
	border:none;
	position:relative;
	padding-left:22px;
	&:before {
		content:"";
		display:block;
		width:14px;
		height:14px;
		position:absolute;
		top:calc(50% - 1px);
		left:0;
		transform:translate(0,-50%);
		background:url(../images/close.svg) no-repeat center center;
		background-size:contain;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
	font-size:7.500rem;
	line-height:1.083em;
	font-weight:900;
	font-family:$font-display;
}

h2, .h2 {
	font-size:3.75rem;
	line-height:1.167em;
	font-weight:900;
	font-family:$font-display;
	span:not(.circle) {
		font-weight:normal;
	}
	margin-bottom:24px;
}

h3, .h3 {
	font-size:2.250rem;
	line-height:1.09em;
	font-weight:500;
	font-family:$font-text;
}

h4, .h4 {
	font-size:1.25rem;
	line-height:1.2em;
	letter-spacing:.1em;
	font-family:$font-mono;
}

h5, .h5 {
	font-size:.875rem;
	line-height:1.750em;
	letter-spacing:.15em;
	text-transform:uppercase;
	font-weight:600;
	font-family:$font-mono;
}

h6, .h6 {
	font-size:.75rem;
	line-height:1.217em;
	letter-spacing:.1em;
	text-transform:uppercase;
	font-weight:400;
	font-family:$font-mono;
	&.citation {
		letter-spacing:.15em;
		line-height:1.5em;
	}
}

.pSmall, .pSmall p {
	font-size:.875rem;
	line-height:1.750em;
	& + p {
		margin-top:14px;
	}
}

.fontWeight-normal {
	font-weight:400 !important;
}


.eyebrow{
	font-family: $font-mono;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0.15em;
	text-transform:uppercase;

	&.red, &.red span{
		color:$red;
	}
}

.pullquotelarge {
	font-size:3.75rem;
	line-height:1.067em;
	font-weight:400;
	font-family:$font-display;
	
}

@keyframes lineAnimate {
  to {
    stroke-dashoffset: 0;
  }
}

span.circle, span.underline {
	display:inline-block;
	position:relative;
	top:0;
	left:0;
	transition:none !important;
	svg {
		position:absolute;
		pointer-events:none;
	}
	&.circle {
		svg {
			top:-.27em;
			left:-.27em;
			width:calc(100% + .54em);
			height:calc(100% + .5em);
			path {
				stroke-dasharray: 500;
			  	stroke-dashoffset: 500;
			}
		}
		&.aos-animate {
			svg path {
				animation: lineAnimate 4.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
			}
		}
	}
	&.underline {
		svg {
			top:.5em;
			left:-.3em;
			width:calc(100% + .4em);
			height:100%;
			path {
				stroke-dasharray: 700;
			  	stroke-dashoffset: 700;
			}
		}
		&.aos-animate {
			svg path {
				animation: lineAnimate 4.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
			}
		}
	}
}

.largestat h3 {
	font-size:5rem;
	line-height:1.05em;
}

h3 {
	span.circle, span.underline {
		
	}
}

.btn {
	text-decoration:none;
	cursor:pointer;
}

.btn-outline {
	font-size:1.125rem;
	line-height:1.216em;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-family:$font-mono;
	text-align:center;
	padding:12px 23px;
	display:inline-block;
	border:none;
	background-color:transparent;
}

.btn-dark {
	padding:12px 22px;
	background:$dark;
	border:none;
	font-family:$font-mono;
	font-weight:400;
	font-size:1.25rem;
	line-height:1.2em;
	letter-spacing:0.1em;
	text-transform:uppercase;
	color:white;
	&.extraPadding {
		padding-left:40px;
		padding-right:40px;
	}
}


.subhead {
	font-size:1.875rem;
	line-height:1.3em;
	font-weight:400;
	font-family:$font-text;
}

.navDropTitle, .navDropLeftColumn a {
	font-size:1.5rem;
	line-height:1.2em;
	font-weight:600;
	font-family:$font-text;
	
	.eyebrow {
		display:block;
		color:$red !important;
	}
	
	.eyebrow span{
		color:$red !important;
	}
}

.apexcharts-datalabel, .apexcharts-text, .apexcharts-legend-text {
	font-size:.875rem !important;
	line-height:1.1em !important;
	font-family:$font-mono !important;
	color:$dark !important;
	&.apexcharts-datalabel {
		font-weight:700;
	}
	&.apexcharts-text {
		font-weight:400;
	}
}

.apexcharts-radialbar .apexcharts-datalabel-value {
	font-size:3.75rem !important;
	line-height:1.167em !important;
	font-weight:400 !important;
	font-family:$font-display !important;
	transform:translate(0,-10px);
}

@media screen and (max-width:1439px)
{
	h1, .h1 {
		font-size:6.250rem;
		line-height:1.1em;
	}

	h2, .h2 {
		margin-bottom:20px;
	}

	.trends h3 {
		font-size:3.125rem;
		line-height:1.3em;
	}

	.subhead {
		font-size:1.125rem;
		line-height:1.322em;
	}

	.largestat h3 {
		font-size:4.063rem;
		line-height:1.1em;
	}
}

@media screen and (max-width:1199px)
{
	.pLarge {
		&, p {
			font-size:1.313rem;
			line-height:1.6em;
		}
	}

	h1, .h1, .thanksHero h1 {
		font-size:2.5rem;
		line-height:1.2em;
	}

	.trends h3 {
		font-size:1.750rem;
	}


	.pullquotelarge {
		font-size:2.5rem;
		line-height:1.1em;
	}

	.largestat h3 {
		font-size:3.125rem;
		line-height:1.1em;
	}
	
}

@media screen and (max-width:719px) 
{
	.trends h3 {
		font-size:1.5rem;
	}
}